<div style="display: flex;justify-content: center;">

    <nb-card size="medium" style="width: 50%;">
        <nb-card-header> Terms and Condition </nb-card-header>
        <nb-card-body (scroll)="onScroll($event)">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada justo vitae varius euismod.
            Maecenas
            venenatis mi et est ultricies, sed maximus ligula mollis. Ut vitae ligula at urna rhoncus hendrerit eget
            ut
            risus. Aliquam est tellus, tristique sit amet neque eu, pellentesque tincidunt risus. Duis at rutrum
            metus.
            Cras
            eleifend mauris tortor. Nam at lorem metus. Donec feugiat augue et magna maximus dignissim. Integer
            fringilla
            gravida hendrerit. Phasellus accumsan, purus sed blandit interdum, nibh urna posuere nisi, at viverra
            purus
            velit ac felis. Sed elementum, dui vitae posuere vulputate, diam lacus vehicula dui, sit amet auctor
            urna
            nisl
            volutpat metus. Fusce varius mauris sed enim tempor, sed vestibulum felis viverra. Fusce molestie, eros
            sed
            sodales pharetra, ex neque hendrerit lacus, nec vulputate arcu enim quis elit. Aliquam erat volutpat.
            Maecenas
            imperdiet ornare commodo. Etiam in commodo nisi.

            Donec sit amet rutrum erat, faucibus posuere velit. Etiam felis velit, pulvinar in ante ut, aliquet
            fermentum
            ante. Sed quis eros dui. Sed ac faucibus felis. Vestibulum maximus libero quis metus blandit, nec
            lacinia
            ante
            fringilla. Proin eu risus efficitur, gravida neque a, posuere ante. Pellentesque habitant morbi
            tristique
            senectus et netus et malesuada fames ac turpis egestas. Nam semper fermentum mauris, et facilisis lorem
            semper
            ac. Suspendisse feugiat imperdiet augue eu varius.

            In tincidunt scelerisque tempus. Quisque tortor augue, mattis ut urna sed, faucibus pellentesque dui.
            Fusce
            eu
            velit non nibh iaculis pretium. Pellentesque lacinia arcu nisl, in pretium augue dapibus et. Fusce et
            ligula
            mattis, vehicula urna eget, aliquet augue. Donec faucibus, tellus sed suscipit iaculis, neque tortor
            viverra
            ipsum, faucibus ullamcorper arcu nunc et enim. Suspendisse eu pretium turpis. Quisque eu urna enim.

            Quisque consectetur cursus felis, vitae eleifend erat commodo et. Cras a neque a turpis vulputate
            eleifend
            non
            at augue. Sed ante est, pellentesque ac pretium ac, accumsan non erat. Suspendisse finibus tincidunt
            laoreet.
            Vestibulum nec metus luctus, imperdiet dolor a, porta velit. Ut nisi massa, tincidunt in lacus pretium,
            maximus
            facilisis turpis. Nullam sit amet ante mauris. Etiam gravida molestie vehicula. Proin ex libero, ornare
            eget
            ex
            id, lobortis dapibus metus. Nullam porttitor tempus varius. Integer non metus tincidunt, congue neque
            vitae,
            luctus mi. Aliquam iaculis, nunc eget malesuada luctus, elit nisi finibus est, id tincidunt nunc nisi
            non
            elit.

            Pellentesque quis dapibus leo, vel malesuada urna. Sed condimentum felis sed eleifend scelerisque. Sed
            quis
            dapibus lectus. Duis porttitor aliquam fringilla. Ut cursus est sit amet pretium elementum. Vestibulum
            nec
            scelerisque felis, sit amet ullamcorper mauris. Ut eget dolor ut sapien vestibulum porta. Sed urna elit,
            sagittis sed metus eu, tincidunt varius mi. Vestibulum volutpat arcu nec nisi varius venenatis.

            Maecenas ligula nibh, vulputate non laoreet tincidunt, pulvinar eu nunc. Duis quis mauris erat. Morbi id
            lacus
            vitae ex lobortis luctus a id ipsum. Nullam nec eleifend metus, ac tempus ipsum. Suspendisse potenti.
            Curabitur
            in pulvinar eros, vitae volutpat urna. Proin in elit in lectus feugiat tempus. Donec blandit, mi id
            eleifend
            consequat, purus lectus ultricies arcu, sed sagittis ante mi et massa. Curabitur at lorem vitae dolor
            dignissim
            facilisis eget vitae massa. Mauris dictum purus sed leo volutpat, in mollis dui aliquam. Maecenas
            ultrices
            ex at
            neque efficitur, sed volutpat quam hendrerit. Orci varius natoque penatibus et magnis dis parturient
            montes,
            nascetur ridiculus mus. Morbi eleifend ipsum eget elementum aliquet.

            Aenean rhoncus dolor at sapien cursus iaculis. Aliquam hendrerit augue enim, in venenatis mi posuere
            tincidunt.
            Ut in pretium lacus. Nulla ac lorem justo. Vivamus ultricies, risus sit amet sollicitudin lobortis, leo
            est
            feugiat leo, et scelerisque turpis leo eu mi. Mauris et odio placerat, convallis nunc ut, condimentum
            ligula.
            Nunc in orci lacinia, cursus eros sagittis, convallis sapien. Suspendisse a quam molestie, egestas elit
            et,
            varius lorem. Sed ut malesuada tellus. Integer vitae sagittis nisl. Etiam eleifend commodo nulla sed
            placerat.
            Integer tincidunt pellentesque vulputate.

            Aenean consequat vitae turpis vel vehicula. Nulla tincidunt felis condimentum lacus pretium, id
            scelerisque
            odio
            finibus. Curabitur dignissim maximus convallis. Nulla eleifend felis ut vehicula eleifend. Mauris
            imperdiet
            accumsan tempus. Ut sit amet iaculis diam. Aenean quis finibus ex. Vestibulum tristique, diam ac laoreet
            rutrum,
            risus nisl malesuada dolor, in molestie sapien massa in neque. Praesent nec nisi at dui fermentum
            egestas.
            Donec
            at tortor finibus, volutpat magna nec, interdum enim.

            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam et
            aliquam
            enim, ut vehicula turpis. Nulla suscipit tempus pretium. Duis ac ipsum non ipsum ultrices ullamcorper
            sed
            aliquam nisi. Praesent eu sagittis lorem. Morbi tempor cursus est, sed suscipit enim elementum sed.
            Etiam
            non
            arcu ex. Cras in erat hendrerit, consequat sapien non, placerat ex. Orci varius natoque penatibus et
            magnis
            dis
            parturient montes, nascetur ridiculus mus.

            Aliquam mattis tempor pulvinar. Sed porttitor libero at lacus mattis, at ultricies turpis sollicitudin.
            Vestibulum dui ligula, placerat vitae luctus vel, sodales at quam. Aenean ultrices dictum eros, et
            fringilla
            velit hendrerit at. Suspendisse nibh lacus, volutpat a tristique sit amet, sagittis nec odio.
            Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc quis est maximus,
            viverra
            ipsum et, gravida metus. Cras commodo tempor sollicitudin. In ac nulla quis elit porttitor commodo.
            Quisque
            id
            mi vel dui aliquet pharetra eu ut nibh. Nam at ornare ligula. Mauris nec est facilisis felis tempor
            iaculis
            egestas sit amet orci. Praesent aliquam ornare venenatis.

            In et sollicitudin justo. Sed sollicitudin turpis sit amet porttitor euismod. Donec fermentum orci a
            neque
            egestas pretium. Duis sit amet gravida velit. Phasellus orci lacus, ornare sit amet metus id, rutrum
            tempus
            nunc. Mauris porttitor bibendum ipsum, vel euismod nibh mollis at. Sed malesuada tincidunt nunc pulvinar
            rhoncus. In sed quam vitae ex eleifend laoreet. Nullam ac varius leo. Nulla luctus mauris ipsum, id
            venenatis
            sem dapibus at. Ut et nisl velit.

            Aenean dignissim vehicula nibh quis tempus. Quisque pellentesque turpis ac ante pellentesque efficitur.
            In
            feugiat magna non commodo lobortis. Proin massa nisl, faucibus in bibendum vitae, sollicitudin sit amet
            mi.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque ac
            tempor
            neque. Ut nec tincidunt nibh, nec pretium elit.

            Nulla imperdiet non mauris eu consectetur. Proin non sodales mauris. Sed nibh turpis, pellentesque ut
            pharetra
            vitae, posuere sit amet ante. Donec rutrum urna tortor, ac dapibus urna dignissim nec. Sed viverra, urna
            in
            congue accumsan, nisi metus vehicula metus, vel dapibus lacus nisi eget odio. Donec lorem lacus,
            hendrerit
            nec
            erat non, pharetra fringilla diam. Phasellus sed pretium nunc. In nisi tellus, gravida vitae orci id,
            eleifend
            gravida ante. Sed mollis vitae tellus sed dignissim.

            Morbi vel purus velit. In nisi erat, viverra id imperdiet nec, blandit et felis. Suspendisse molestie
            aliquam
            leo nec dignissim. Fusce viverra pretium velit quis egestas. Donec bibendum tellus a diam mattis
            fringilla
            eget
            sit amet libero. Praesent interdum vel nisl non pellentesque. Ut eleifend maximus risus id rhoncus.
            Proin
            tincidunt justo non enim luctus ultricies. Praesent porttitor justo eu arcu malesuada, non aliquet
            mauris
            consectetur. Maecenas id pretium ex. In nisl odio, condimentum ac cursus vehicula, condimentum
            ullamcorper
            lectus. Ut eget nibh vitae leo facilisis finibus.

            Aliquam feugiat placerat mi, vel rhoncus leo blandit non. Ut id faucibus velit. Fusce dignissim
            vulputate
            justo,
            non tempus diam auctor sed. Proin dictum est nisi, nec sollicitudin velit sollicitudin ac. Maecenas nibh
            enim,
            aliquet ac semper quis, congue at mi. Nullam vel tortor nulla. Phasellus pulvinar tempus odio, at
            vestibulum
            lectus malesuada sit amet. Etiam vel mattis ligula. Interdum et malesuada fames ac ante ipsum primis in
            faucibus.

            Nulla malesuada eget arcu sed sollicitudin. Nulla fringilla sed neque condimentum viverra. Fusce
            ultrices
            sem
            sit amet facilisis posuere. Quisque vel congue tortor. Quisque eu semper ligula. Aliquam varius quam non
            velit
            tincidunt posuere. Nam ornare tincidunt tristique. Aliquam erat volutpat. Nulla feugiat magna vitae nunc
            tempus,
            quis ullamcorper justo eleifend. Cras at neque facilisis erat luctus blandit. Aenean eros odio,
            scelerisque
            nec
            ultricies a, mattis sit amet tortor. Fusce tristique a leo et efficitur.

            Fusce in justo lobortis, suscipit ipsum at, tincidunt quam. Cras accumsan massa sed rutrum faucibus.
            Maecenas
            porta eu leo sed vestibulum. Sed interdum mi vitae lorem suscipit, id pretium felis blandit. Sed ut
            tortor
            at
            purus interdum sollicitudin. Aliquam erat volutpat. Nulla scelerisque consectetur est, ut feugiat libero
            congue
            in.

            Quisque congue, magna non consequat pharetra, metus est luctus arcu, at feugiat purus arcu in neque.
            Duis
            euismod nibh velit, a sollicitudin lacus facilisis in. Morbi dignissim, nulla vitae rutrum blandit,
            tellus
            nulla
            vulputate elit, et rhoncus magna risus ac quam. Donec varius mollis lectus. Praesent a fermentum mi. Sed
            sed
            nisi mauris. Fusce ut neque nulla. Praesent pellentesque commodo ante, eget dignissim libero porta ut.
            Interdum
            et malesuada fames ac ante ipsum primis in faucibus. Sed sit amet purus viverra, convallis nisl ut,
            sagittis
            ante. Maecenas non fringilla ante. Aenean tempor lorem eget nulla scelerisque, sed varius enim maximus.
            Vestibulum vel sem vel nunc porta sodales nec eleifend metus. Nunc semper et velit a lacinia. Duis et
            lorem
            nec
            diam volutpat posuere.

            Cras at pellentesque elit, eget fermentum augue. Morbi vel laoreet massa. Mauris rutrum odio dolor, at
            porta
            arcu semper a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus, elit sit amet
            maximus
            faucibus, libero metus pretium turpis, at finibus mi elit a tellus. Suspendisse ligula nisl, maximus a
            sagittis
            at, consequat quis felis. Praesent ut ante a nibh blandit eleifend. Nulla sagittis auctor odio eu
            pulvinar.
            Nulla tristique lacus at nisl elementum, non pellentesque est porta. Sed non varius sem, et pulvinar
            ligula.
            Vestibulum feugiat ornare tristique.

            Phasellus erat elit, posuere at facilisis nec, bibendum eget urna. Maecenas massa lacus, hendrerit ut
            imperdiet
            vel, eleifend lacinia justo. Etiam orci velit, egestas nec eros in, vulputate malesuada lectus. Nulla
            vitae
            pharetra urna. Etiam laoreet volutpat nulla, quis aliquet magna. Aliquam ultrices ante eget sem
            ultricies, a
            aliquam turpis sollicitudin. Nullam tortor ipsum, maximus et sagittis ut, lacinia vitae massa.

            Vestibulum vitae risus quis quam dapibus gravida. Cras quam orci, ullamcorper quis pellentesque a,
            convallis
            eu
            massa. Ut eleifend nisi sit amet tellus sollicitudin tristique. Vestibulum ante ipsum primis in faucibus
            orci
            luctus et ultrices posuere cubilia curae; Pellentesque sed euismod urna. Suspendisse potenti. Morbi
            fermentum
            nulla lorem, quis pulvinar ex tristique in. Integer convallis aliquet lectus et mollis. Donec vel
            vestibulum
            eros, in maximus nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
            curae;
            Integer quis dui massa.

            Cras pharetra finibus ex, eget consectetur lorem. Proin velit mauris, feugiat vitae condimentum id,
            accumsan
            lobortis erat. Fusce elit metus, faucibus sit amet libero a, interdum sodales erat. Quisque risus neque,
            blandit
            pellentesque tellus at, auctor consequat ante. Suspendisse fermentum, lectus vehicula blandit interdum,
            ligula
            nibh congue eros, vel eleifend justo sapien sed ante. Vivamus tempor dapibus enim, non faucibus nisi
            viverra
            dictum. Vestibulum vitae nulla mattis, cursus ex et, gravida est.

            Quisque orci ex, mollis sed commodo et, laoreet eu neque. Integer ultrices ipsum ut quam suscipit, ac
            porta
            urna
            semper. Fusce a ante in erat eleifend rutrum quis et enim. Cras eros magna, interdum at finibus nec,
            congue
            sed
            lectus. Phasellus porttitor nec est sed gravida. Etiam iaculis feugiat justo et ornare. Nullam
            vestibulum ex
            nec
            tellus tempus pharetra. Cras ultrices laoreet fringilla. Suspendisse ornare dolor eu sollicitudin
            pellentesque.
            Mauris ornare sem eget nisl feugiat vulputate. Etiam in sem tristique, efficitur nunc ultrices, bibendum
            massa.
            Duis tincidunt, metus sed imperdiet maximus, lorem purus pharetra justo, elementum pellentesque dolor
            purus
            eget
            mi. Vivamus sed ex quam. Vestibulum a est ut mi pulvinar accumsan. Curabitur at tortor tempor, ornare
            ante
            vel,
            porta ex. Aliquam lorem lorem, consectetur et pellentesque id, gravida in metus.

            Etiam in congue lacus, hendrerit consequat lectus. Mauris molestie nulla ex, vitae auctor diam cursus
            at.
            Etiam
            mattis mi a erat hendrerit, porttitor ultrices mauris lacinia. Sed faucibus faucibus lacinia. In laoreet
            purus
            ligula, nec venenatis tellus cursus a. Donec at blandit risus. Ut eu nisi in lectus vestibulum faucibus.

            Duis a rhoncus enim, vitae dignissim orci. Integer dolor lacus, commodo in mollis sed, dictum in nibh.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus
            mattis
            augue mauris, rhoncus dignissim erat egestas vitae. Cras tempor dolor nisl, et rutrum ex accumsan ac.
            Aenean
            vestibulum leo ultricies augue volutpat pellentesque. Integer porttitor velit sed erat interdum
            tincidunt
            quis
            quis est. Vivamus semper nunc sapien, at rhoncus mi volutpat a. Sed sit amet congue mauris.

            Phasellus sed sem ac lorem tincidunt tristique. Aenean mauris magna, sodales at iaculis id, dignissim
            accumsan
            dui. Morbi consectetur, nisi id rutrum lobortis, justo lacus facilisis nisi, non commodo libero arcu non
            metus.
            Cras ac commodo nibh, sit amet egestas neque. Suspendisse potenti. Donec placerat felis eros, sit amet
            vestibulum lorem volutpat a. Nam eget posuere odio, non vulputate est. Proin commodo porta enim, ut
            tempus
            turpis maximus eget. Duis consectetur libero eget lorem vulputate, tempus vehicula urna sollicitudin.
            Duis
            aliquam magna purus, a lobortis nunc accumsan non. Etiam sed iaculis nisi. Ut scelerisque sodales diam
            at
            scelerisque. Pellentesque accumsan odio risus, at scelerisque orci facilisis a. Pellentesque luctus odio
            orci,
            eu tincidunt orci posuere finibus. Proin maximus pretium risus, quis suscipit velit tempor at. Maecenas
            finibus
            metus dolor, nec consectetur sem fermentum nec.

            Mauris nec pretium risus. Vestibulum aliquet lectus mi, pharetra ultricies nisi scelerisque in. Integer
            id
            dui
            id mi tincidunt facilisis eu ut nisi. Aliquam laoreet aliquet metus, id interdum nisl sollicitudin non.
            Curabitur mollis magna non lacus finibus semper. Integer imperdiet pulvinar neque, quis congue libero
            viverra
            in. Vivamus at dignissim dolor, nec auctor sapien. Sed ac velit eget lectus molestie pellentesque vitae
            sit
            amet
            est. Aenean porta urna sit amet condimentum sagittis. Nam felis nunc, congue in diam a, convallis
            pulvinar
            arcu.
            Proin ipsum ligula, gravida in erat sed, consequat rutrum nunc. Vivamus viverra venenatis justo vitae
            rhoncus.
            Mauris posuere elementum nunc eu lobortis. Praesent sed pellentesque tortor.

            Morbi ut pellentesque turpis. Fusce quis tortor mauris. Maecenas euismod lacus eu venenatis egestas.
            Duis
            sapien
            leo, vulputate ac augue at, scelerisque placerat ex. Fusce pulvinar libero at ipsum vestibulum
            fringilla.
            Donec
            sit amet feugiat enim. Nam blandit augue non ex posuere ultricies.

            Quisque volutpat sit amet velit sed placerat. Vivamus congue mauris vel auctor tincidunt. Proin laoreet
            condimentum orci ac varius. Aenean ultricies ex nec lorem pretium, quis faucibus magna venenatis.
            Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec porta arcu diam,
            quis
            tincidunt nulla pellentesque posuere. Nunc pretium, augue eu scelerisque euismod, lectus libero
            porttitor
            nisi,
            non eleifend ex ligula sed metus. Curabitur rutrum velit et arcu mollis aliquam. In in placerat mauris.
            Etiam
            quis purus quis tellus suscipit cursus vitae ut mauris. Donec rhoncus ex mauris, ut mattis mauris
            sollicitudin
            ac.

            Suspendisse quis metus ac neque auctor hendrerit id sit amet tellus. Vestibulum id feugiat libero,
            scelerisque
            pellentesque arcu. Aenean ac aliquam sapien, quis luctus purus. Curabitur vitae elit ac libero cursus
            gravida.
            Curabitur cursus tortor at maximus consequat. Fusce eleifend dignissim justo. Suspendisse vel egestas
            diam,
            eu
            blandit ipsum. Etiam dignissim sem nec eros varius eleifend. Sed a nunc vel ex fringilla luctus eu vitae
            nibh.
            Mauris interdum nec erat eu condimentum. Mauris tincidunt porttitor tellus, eu varius odio pretium sit
            amet.
            Vestibulum et enim eget ex semper tristique. Aliquam ullamcorper mattis consectetur. Sed ac augue
            pharetra,
            <p id="end-text">volutpat justo at, aliquam tellus. Aenean accumsan nunc non dapibus pharetra.</p>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton fullWidth status="primary" [disabled]="!readAll">I accept the terms and condition</button>
        </nb-card-footer>
    </nb-card>

</div>