.confirm-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.date-wrapper {
  display: flex;
  flex-direction: row;
}

.date-input-wrapper {
  display: flex;
  flex-direction: row;
  width: 30%;
  align-items: baseline;
}

.date-label {
  font-weight: bold;
  margin-right: 24px;
  margin-bottom: 16px;
}

.date-input {
  border-style: solid;
  border-width: 1px;
  background-color: #f7f9fc;
  border-color: #e4e9f2;
  color: #222b45;
  max-width: 20rem;
  border-radius: 0.25rem;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.4375rem 1rem;
}

.confirm-btn {
  background-color: rgba(143, 155, 179, 0.24);
  border-color: rgba(143, 155, 179, 0.24);
  color: rgba(143, 155, 179, 0.48);
  padding: 0.6875rem 1.125rem;
  border-style: solid;
  border-width: 0.0625rem;
  text-transform: uppercase;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1rem;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
}

.header {
  font-size: 24px;
}
