<!-- <style>
  .card {
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
  }
  .container {
    padding: 2px 16px;
  }
</style>

<nb-card>
  <nb-card-body>
    <div class="card">
      <div class="container">
        <h4><b>Transfer</b></h4>
      </div>
    </div>

    <p>From</p>

    <div class="card">
      <div class="container">
        <h4><b>Transfer</b></h4>
      </div>
    </div>
  </nb-card-body>
</nb-card> -->
<nb-layout>
  <nb-layout-column>
    From
    <nb-card>
      <nb-card-body>
        Everyday
        <span class="x">172342314723</span>
        <div class="Kevin">
          <div class="z">500000.65</div>
          <span class="y">
            <nb-user size="giant" name="Jonh Doe" title="Engineer" onlyPicture>
            </nb-user>
          </span>
        </div>
      </nb-card-body>
    </nb-card>

    To
    <nb-card>
      <nb-card-body>
        Allianz tech
        <div class="Kevin">
          <div class="z">Ref:13432432432</div>
          <span class="pic2">
            <nb-user size="giant" name="Jonh Doe" title="Engineer" onlyPicture>
            </nb-user>
          </span>
        </div>
      </nb-card-body>
    </nb-card>
    <button nbButton fullWidth status="primary">Confirm</button>
  </nb-layout-column>
</nb-layout>
