<!-- <style>
  .card {
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
  }
  .container {
    padding: 2px 16px;
  }
</style>

<nb-card>
  <nb-card-body>
    <div class="card">
      <div class="container">
        <h4><b>Transfer</b></h4>
      </div>
    </div>

    <p>From</p>

    <div class="card">
      <div class="container">
        <h4><b>Transfer</b></h4>
      </div>
    </div>
  </nb-card-body>
</nb-card> -->
<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        Everyday <span class="x">172342314723</span>

        <nb-user name="John Doe" title="Engineer"></nb-user>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
