<nb-card>
    <nb-card-header>
        <div class="summary-package">
            <div id="country" class="header-font-size">GERMANY</div>
            <!-- <div id="country">{{selectedCountry.countryName}}</div> -->
            <div id="package-amount-fee" class="font-size">2,328.00 THB. PER PERSON</div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <div>Trip Date: Onetime</div>
        <div>Range:
            <span class="date-range" id="date-range">04 Jan 2020 - 26 Jan 2020</span>
            <span class="total-days" id="total-days">(Total 23 Days)</span>
        </div>
    </nb-card-body>
</nb-card>