.summary-package {
  display: flex;
  justify-content: space-between;
}

.total-days {
  margin-left: 24px;
}

.btn-next-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.btn-back {
  margin-right: 24px;
}

.header-font-size {
  font-size: 24px;
}

.bold {
  font-weight: bold;
}
