.input-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.input-wrapper label {
  margin-bottom: 6px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mb-4 {
  margin-bottom: 16px;
}
