<nb-layout>
  <nb-layout-column class="noPaddingtop noPaddingBottom">
    <nb-card>
      <nb-card-header>
        <h1>Select Package</h1>
      </nb-card-header>
      <!-- <nb-card-body>
        Everyday <span class="x">172342314723</span>

        <nb-user name="John Doe" title="Engineer"></nb-user>
      </nb-card-body> -->
      <div class="parent">
        <div *ngFor="let p of packages" class="button-structure">
          <nb-user size="giant" name="John Doe" title="Engineer" color="#f1f1f1" onlyPicture></nb-user>
          <div class="detail">
            <span>{{p.packagePrice}}</span> <br>
            <span>{{p.packageName}}</span> <br>
            <span>Company</span>
          </div>
        </div>
        <!-- <div class="detail">
          <span>150,000</span> <br>
          <span>Medical Expenses Incurred in Thailand</span>
        </div>
        <div class="detail">
          <span>15,000</span> <br>
          <span>Trip Curtailment</span>
        </div> -->
      </div>
    </nb-card>
  </nb-layout-column>
</nb-layout>